.view-profile {
  background-color: white;
}

.view-profile .users-search {
  padding: 14px;
  position: relative;
}

.view-profile .users-search input{
  background-color: #F2F2F2;
  font-size: 20px;
  padding: 14px;
  border: none;
  width: 100%;
  color: #555;
}

.profile-content .row {
  padding: 10px;
  margin: 50px;
  text-align: center;
  vertical-align: middle;
}

.profile-content .user-name {
  font-size: 40px;
}

.profile-content .following-status {
  font-size: 20px;
}

.profile-content .profile_pic button {
  color: black;
  background-color: #F4F4F4;
  border: 1px solid #D6D3CE;
}
