.logged_in_user {

}
.recipes-header h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 4px #444;
}

.recipes-content {
  margin: auto;
}

.recipes-search {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 0px;
}

.recipes-content .recipes-search {
  padding: 14px;
  position: relative;
}

.recipes-content .recipes-search input {
  background-color: #F2F2F2;
  font-size: 20px;
  padding: 14px;
  border: none;
  width: 100%;
  color: #555;
}

.recipes-content .recipes-search input:focus {
  outline: none;
}


.recipes-search i {
  color: black;

}


.recipe-status .recipes-status-all {
  padding: 10px;
  border: none;
  width: 95%;
  text-align: right;
}

.recipes-filter a {
  font-size: 15px;
  color: #555555;
  padding: 5px 5px;
  font-weight: 100;
}

.recipes-filter a.active {
  text-decoration: underline;
}
.recipes-content .recipes-status a {
  float: right;
  margin: 5px;
  color: #555555;
}


.recipe-tile {
  position:relative;
  display: inline-block;
  width: 200px;
  height: 300px;
  background: white;
  color: #555;
  vertical-align: middle;
  margin: 12px;
  box-shadow: 1px 2px 8px #aaa;
  text-align: left;
  border-radius: 3px;
  overflow:hidden;
}

.recipe-tile:hover {
  text-decoration: none;
}

.recipe-tile .recipe-footer {
  position: absolute;
  text-align: left;
  padding: 5px 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
}

.recipe-tile .recipe-tile-image > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe-tile .recipe-tile-image-meta {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1px 10px;
  vertical-align: middle;
}

.recipe-tile-image-meta-name {
  color: white;
  font-size: 12px;
  margin-left: 3px;
  text-shadow: 0px 0px 8px #000;
  font-weight: 100;
}

.recipe-tile-content {
  padding: 10px;
}

.recipe-tile-content .recipe-title {
  text-align: left;
  margin-bottom: 5px;
}

.recipe-tile-content .recipe-description {
  color: #777;
  font-size: 14px;
  font-weight: 100;
}

