.recipes-header h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 4px #444;
}

.recipes-content {
  margin: auto;
}

.recipes-search {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 0px;
}

.recipes-content .recipes-search {
  padding: 14px;
  position: relative;
}

.recipes-content .recipes-search input {
  background-color: #F2F2F2;
  font-size: 20px;
  padding: 14px;
  border: none;
  width: 100%;
  color: #555;
}

.recipes-content .recipes-search input:focus {
  outline: none;
}


.recipes-search i {
  color: black;

}


.recipe-status .recipes-status-all {
  padding: 10px;
  border: none;
  width: 95%;
  text-align: right;
}

.recipes-filter a {
  font-size: 15px;
  color: #555555;
  padding: 5px 5px;
  font-weight: 100;
}

.recipes-filter a.active {
  text-decoration: underline;
}
.recipes-content .recipes-status a {
  float: right;
  margin: 5px;
  color: #555555;
}

.recipes-filter {
  display: flex;
}
.recipes-filter .links {
  flex: 1;
}
