<div class="header-space"></div>

<div class="container" style="padding: 0px 15px;" data-bind="withView : Dishfave.DishEditorView">
<div class="recipe-edit-container df-card df-col">

  <div class="page-header">
    <h1>
      <%= @title %>
    </h1>
    <% if @dish.new_record? %>
    <p class="lead" style="color: #777;">A dish can be anything, including an entree, dessert, or even a drink!</p>
    <div class="tips lead">
      <div class="tip row">
        <div class="col-xs-1">
        <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-xs-11">
        You can promote your dishes for sale globally across all our members (great for cookies, cakes, and other pre-made dishes)
        </div>
      </div>
      <div class="tip row">
        <div class="col-xs-1">
        <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-xs-11">
        You can store all your recipes for later and share with friends and family, or keep for yourself
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="form">

    <input type="hidden" name="id" value="<%= @dish.id %>"/>


    <div class="form-group">

      <label>Title</label>
      <input type="text" name="title" class="form-control input-lg" placeholder="Enter title here." data-bind="textInput : dish.title"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control input-lg" rows="5" name="description" placeholder="Enter description here." data-bind="textInput : dish.description"></textarea>
    </div>

    <hr class="clear">

    <h2><i class="fa fa-list-ol"></i>How to Make</h2>

    <div class="well well-slim">
      <div class="checkbox">
        <label style="font-weight: 200;">
          <input type="checkbox" name="is_recipe_not_given" data-bind="checked : dish.is_recipe_not_given">
          I don't have the directions, or would prefer not to enter.
        </label>
      </div>
      <div class="help-block small text-muted" style="font-weight: 200;">
        <i class="fa fa-question-circle"></i>
        You can make the recipe private in the <strong>Privacy</strong> section at the bottom.
      </div>
    </div>

    <div class="howtomake-fields" data-bind="visible : dish.is_recipe_given()">
    <div class="form-group">
      <label>Ingredients</label>
      <textarea class="form-control input-lg" name="ingredients" placeholder="Butter
Eggs
Flour
. . ." rows="10" data-bind="textInput : dish.ingredients"></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter each ingredient on a new line.
      </div>
    </div>

    <div class="form-group">
      <label>Directions</label>
      <textarea class="form-control input-lg" name="directions" placeholder="1. Preheat oven to 350.
2. And then . . ." rows="10" data-bind="textInput : dish.directions"></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter each step on a new line with a number in front.
      </div>
    </div>

    <div class="form-group">
      <label>Preparation Time</label>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
        <div class="input-group input-group-lg">
          <input type="number" name="prep_time_minutes" class="form-control" placeholder="30" data-bind="textInput : dish.prep_time_mins">
          <span class="input-group-addon">minutes</span>
        </div>
        </div>
      </div>
    </div>
    </div>

    <hr class="clear">

    <h2><i class="fa fa-shopping-cart"></i>Purchase Info</h2>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_purchasable" data-bind="checked : dish.is_purchasable"> This dish is available for sale pre-made.
        </label>
      </div>
      <textarea class="form-control input-lg purchase-info" name="purchase_info" rows="5" placeholder="(Optional) Website links, store names, and locations are all helpful." data-bind="textInput : dish.purchase_info, visible : dish.is_purchasable()"></textarea>
    </div>

    <hr class="clear">
    <h2><i class="fa fa-info-circle"></i>More Info</h2>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group">
          <label>Serving Size</label>
          <div class="input-group input-group-lg">
            <input type="text" name="serving_size" class="form-control" placeholder="8" data-bind="textInput : dish.serving_size"/>
            <span class="input-group-addon">servings</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Dish Tags</label>
      <textarea class="form-control input-lg" name="tags" placeholder="dinner, italian, healthy, ..." data-bind="value : dish.tags_str"></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter tags separated by a comma, like: dinner, italian, healthy.
      </div>
    </div>

    <hr class="clear">
    <h2><i class="fa fa-camera"></i>Image Upload</h2>

    <div class="form-group">
      <input type="file" name="image" data-bind="fileupload : dish.image"> 
      {{#if : dish.image_url.present() }}
      <img style="width: 150px;" data-bind="attr.src : dish.image_url()"/>
      {{/if }}
      {{#if : !dish.image_url.present() }}
        <div class="help-block small text-muted">
          <i class="fa fa-question-circle"></i>
          Don't have an image yet? Find a good one on <a href="https://images.google.com" target="_blank">Google Images</a> for now.
        </div>
      {{/if }}
    
    </div>

    <hr class="clear">
    <h2><i class="fa fa-eye"></i>Privacy</h2>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_recipe_private" data-bind="checked : dish.is_recipe_private">Hide the ingredients and directions, so only I can see it. 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_private" data-bind="checked : dish.is_private"> Make this entire dish private, so only I can see it. 
        </label>
      </div>
    </div>

    <hr class="clear">

    <div class="form-group">
      <button type="button" class="btn btn-success btn-lg" data-bind="click : saveDish, loading : dish.is_saving">
        <i class="fa fa-check"></i>
        Save Dish
      </button>
      {{#if : dish.id.present() }}
      <button class="btn btn-danger btn-lg pull-right" data-bind="click : promptDeleteDish, loading : dish.is_saving">
        <i class="fa fa-trash"></i>
         Delete
      </button>
      {{/if }}

    </div>

  </div>


</div>
</div>

