.container-fluid.recipes-container(data-bind="withView : Dishfave.DishIndexView")
  .header-space

  .recipes-content
    .recipes-filter
      .links
        %a(path="/dishes?order=newest" data-bind="css.active : order()== 'newest'")
          Newest Dishes
        %a(path="/dishes?order=popular" data-bind="css.active : order() == 'popular'")
          Popular Dishes
        {{#if : app.is_logged_in() }}
        %a(path="/dishes?creator=friends" data-bind="css.active : creator() == 'friends'")
          My Friends' Dishes
        %a(path="/dishes?creator=me" data-bind="css.active : creator() == 'me'")
          My Dishes
        %a(path="/dishes?favorite=true" data-bind="css.active : favorite() == true")
          My Favorites
        {{/if }}

      .dropdown.inline
        %a.dropdown-toggle(data-toggle="dropdown")
          %i.fa.fa-filter.mr-5(style="opacity: 0.5;")
          Filter dishes
          %span.caret
        .dropdown-menu.dropdown-menu-right(style="width: 250px;")
          .col-xs-6
            .dropdown-section-header Created By
            .dropdown-section-body
              %a.menu-option(data-bind="on.click : updateFilter({creator: 'all'}), css.active : creator() == 'all'") Everyone
              {{#if : app.is_logged_in() }}
              %a.menu-option(data-bind="on.click : updateFilter({creator: 'friends'}), css.active : creator() == 'friends'") My Friends
              %a.menu-option(data-bind="on.click : updateFilter({creator: 'me'}), css.active : creator() == 'me'") Me
              {{/if }}

            .dropdown-section-header Order By
            .dropdown-section-body
              %a.menu-option(data-bind="on.click : updateFilter({order: 'newest'}), css.active : order() == 'newest'") Newest
              %a.menu-option(data-bind="on.click : updateFilter({order: 'popular'}), css.active : order() == 'popular'") Popular
              %a.menu-option(data-bind="on.click : updateFilter({order: 'quickest'}), css.active : order() == 'quickest'") Quickest

            {{#if : app.is_logged_in() }}
            .dropdown-section-header More
            .dropdown-section-body
              %a.menu-option(data-bind="on.click : updateFilter({favorites: true}), css.active : favorite() == true") Favorites
            {{/if }}

          .col-xs-6
            .dropdown-section-header Tags
            .dropdown-section-body
              {{#foreach : tags }}
              %a.menu-option(data-bind="on.click : $view.updateFilter({tag: name}), css.active : $view.tag() == name") {{ title }}
              {{/foreach }}

          .col-xs-12.dropdown-search
            .dropdown-section-header Search
            .dropdown-section-body(style="padding: 0px 10px;")
              %input.full-width(type='text' placeholder="Search Dishes" name="dropdown-search" data-bind="value : live_query, handleEnter : handleSearchEnter")

    %df-dish-tile-grid(params="dishes : dishes")

    .text-center
      %a.small.no-underline(data-bind="click : loadMoreDishes, visible : can_load_more()")
        %i.kai.kai-chevron-down
        more
