<h2 class="text-center mt-0">Increase Your ChefScore!</h2>
<p class="text-center">
  <img src="/assets/share.png" style="height: 60px;"/>
</p>
<p class="lead">
Share your dish with your social networks to get your friends to favorite your dishes and increase your ChefScore!
</p>
<p class="lead"><em>Your ChefScore is simply the total number of likes across all your dishes :)</em>
</p>
<p class="text-center">
  <button class="btn btn-default" onclick="updateFlagAndCloseModal(1, 'shareYourDish');">Got it!</button>
</p>

