<div class="view-sign-up">
  <div class="backdrop-tint"></div>

  <div class="container">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default page-panel">
        <div class="panel-body">
          <div class="brand text-center" style="padding: 20px 0px 10px;">
            <div class="logo">
              <img src="/assets/logo_white.png" style="height: 40px;"/>
            </div>
          </div>
          <div class="intro text-center" style="margin: 30px 0px;">
            <h3 style="margin-bottom: 10px">Get Started Absolutely <span class="text-primary">FREE</span></h3>
            <div class="text-muted small" style="font-size: 12px;">Enter your information below</div>
          </div>
          <form>
            <div class="form-group">
              <input type="text" name="first_name" class="form-control input-lg" placeholder="First name" value=""/>
            </div>

            <div class="form-group">
              <input type="text" name="last_name" class="form-control input-lg" placeholder="Last name" value=""/>
            </div>

            <div class="form-group">
              <input type="text" name="email" class="form-control input-lg" placeholder="Email" value=""/>
            </div>

            <div class="form-group">
              <input type="password" name="password" class="form-control input-lg" placeholder="Create a password." value=""/>
            </div>

            <button type="button" class="btn btn-success btn-lg btn-full" onclick="saveAccount();">
              <i class="fa fa-check"></i>
              Get Started
            </button>

            <div style="font-size: 16px; text-align: center; padding-top: 10px;">
              Already have an account?
              <a href="/sign_in" class="form-group text-center" style="padding: 0px 30px; font-size: 16px; text-decoration: underline;">Sign In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
