html {
 -webkit-text-size-adjust: auto;
}

body {
  background-color: #fff;
  color: #555;
  padding-bottom: 50px;
  font-size: 20px;
  margin: 0px;
  font-family: "Lato";
  font-weight: 100;
}

body.bg-wood {
 color: white;

 background-image: url("/assets/wood.jpg");
 background-size: cover;
 background-attachment: fixed;

}

a {
cursor: pointer;
}

h1, h2, h3, button, .btn, input, textarea, label, .checkbox label { font-weight: 100; }

.jconfirm-box {
  color: #555;
}

.header-space {
  height: 60px;
}

.footer {
  color: #aaa;
  font-size: 12px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  font-weight: 200;
}

.dropdown-menu.open {
  display: block;
}

.body-overlay {
  position: fixed;
  top: 52px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  z-index: 1;
}
