h2 {
  i.fa {
    color: #ccc;
    margin-right: 10px;
    font-size: 80%;
  }
  small {
    margin-left: 5px;
  }
}

hr.clear { 
  border-color: transparent;
}

a.no-underline:hover {
  text-decoration: none;
}

.backdrop-tint {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(50, 50, 50, 0.75);
  z-index: -100;
}

.page-panel {
  margin-top: 150px;
}

.panel {
  color: #555;
}

.form-control {
  border-radius: 0px;
}

.btn-full {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.btn-clear {
  color: #d64541;
  background-color: transparent;
  border: 1px solid #d64541;
  padding: 3px 5px;
}

.btn.btn-default {
  background: #d64541;
  color: #fff;
  border: none;
}

.logo {
  display: inline-block;
  padding: 10px 20px;
  background: #d64541;
  color: #eee;
  border-radius: 5px;
  font-weight: 100;
  letter-spacing: 3px;
  /*text-shadow: 1px 1px 2px #ccc;*/
}

.img-circle, .img-cover {
  object-fit: cover;
}

.placeholder {
  padding: 20px;
  text-align: center;
  color: #ccc;
}

.inline {
  display: inline-block;
}

.pad-0 { padding: 0px; }
.mt-0 { margin-top: 0px; }
.mt-10 { margin-top: 10px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.ml-10 { margin-left: 10px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.full-width { width: 100%; }

.help-block {
  color: #aaa;
}

input.plain {
  //border-radius: 5px;
  background: transparent;
  border: none;
  font-weight: 200;
  outline: none;
  font-size: 14px;
  &:active, &:focus {
    outline: none;
  }
}
input.on-dark-bg {
  color: #eee;
  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &::-moz-placeholder, {
    color: #eee;
  }
}
