.user-tiles {
  text-align: center;
  padding: 14px;
  margin: 3px;
}

.user-tile {
  position:relative;
  display: inline-block;
  width: 200px;
  background: white;
  color: #555;
  vertical-align: middle;
  margin: 12px;
  box-shadow: 1px 2px 8px #aaa;
  text-align: left;
  border-radius: 3px;
  overflow:hidden;
}

.user-tile:hover {
  text-decoration: none;
}

.user-tile-footer {
  display: flex;
}

.user-stats-section {
  flex: 1;
  text-align: center;
}

.user-stats-section .title {
  font-size: 12px;
}